* { box-sizing: border-box; }
html,body,h1,h2,h3,h4,h5,h6,div,p,span{ margin:0; padding:0; }
body *{ box-sizing:border-box; }
*:after, *:before{ box-sizing:border-box; }
.visual{ width:100%; height:100%; background-color:#efefef;}

.carousel__body {
  margin: 0 auto;
  position: relative;
  top:180px;
  width:420px;
  height:280px;
  perspective: 1000px;
}
.carousel__scene{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;

  transform: rotateY(0deg) translateZ(-360px);  
  animation: ani__turn 30s infinite linear;
}
.carousel__cell{
  position: absolute;
  width:100%;
  height:100%;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  box-sizing:border-box;
  transition: transform 1s, opacity 1s;
}

.carousel__roof{
  position:absolute;
  top:-100px;
  width:100%;
  height:30px;
}

.carousel__cell:nth-child(1) { 
  background: hsla(350, 38%, 94%); 
  transform: rotateY(0deg) translateZ(364px);  
}
.carousel__cell:nth-child(1) .carousel__roof{ 
  background: hsla(350, 38%, 94%);  
}

.carousel__cell:nth-child(2) { 
  background: hsl(340, 69%, 90%);
  transform: rotateY(60deg) translateZ(364px);
}
.carousel__cell:nth-child(2) .carousel__roof{ 
  background: hsl(340, 69%, 90%);
}

.carousel__cell:nth-child(3) { 
  background: hsl(120, 54%, 91%); 
  transform: rotateY(120deg) translateZ(364px);
}
.carousel__cell:nth-child(3) .carousel__roof{ 
  background: hsl(120, 54%, 91%); 
}

.carousel__cell:nth-child(4) { 
  background: hsl(35, 39%, 91%); 
  transform: rotateY(180deg) translateZ(364px);
}
.carousel__cell:nth-child(4) .carousel__roof{ 
  background: hsl(35, 39%, 91%); 
}

.carousel__cell:nth-child(5) { 
  background: hsl(40, 100%, 89%); 
  transform: rotateY(240deg) translateZ(364px);
}
.carousel__cell:nth-child(5) .carousel__roof{ 
  background: hsl(40, 100%, 89%); 
}

.carousel__cell:nth-child(6) { 
  background: hsl(0, 0%, 96%); 
  transform: rotateY(300deg) translateZ(364px);
}
.carousel__cell:nth-child(6) .carousel__roof{ 
  background: hsl(0, 0%, 96%); 
}


/* character */
.ballerina{
  margin:0 auto;
  width:100%;
}

.ballerina::after{
  z-index:-1;
  content: '';
  display: block;
  margin: 0 auto;
  width: 305px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.02);
  animation:ani__ballerina__shadow 2s infinite alternate linear;
}
.ballerina__head{
  position:relative;
  z-index:3;
  margin:0 auto;
  width:80px;
  height:80px;
  border-radius:50%;
  box-sizing:border-box;
  background-color:#FFCCCC;
}
.ballerina__head:before{
  z-index:2;
  display:block;
  content:'';
  position:absolute;
  left:calc(50% - 15px);
  bottom:-17px;
  width:30px;
  height:20px;
  border-radius: 0 0 50% 50%;
  background-color:#FFCCCC;
}

.ballerina__head__hair__bangs{
  position:relative;
  overflow:hidden;
  margin:0 auto;
  width:80px;
  height:80px;
  border-radius:50%;
}

.ballerina__head__hair__bangs::before{
  z-index: 1;
  content:'';
  display:block;
  position: relative;
  top: -45px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-right: 60px solid #3D2927;
  border-top: 60px solid #3D2927;
  border-left: 60px solid #3D2927;
  border-bottom: 60px solid transparent;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.ballerina__head__hair__bun{
  z-index: 1;
  content:'';
  display:block;
  position: absolute;
  top:-25px;
  left:calc(50% - 20px);
  width:40px;
  height:40px;
  border-radius:50%;
  background-color:#3D2927;
}
.ballerina__head__hair__bun:after{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 9px;
  border-radius: 50%;
  box-shadow: 7px 0px 5px rgba(255,255,255,0.1);
  transform: rotate(-14deg);
}

.ballerina__head__face{
  position:relative;
  z-index:2;
  margin:0 auto;
  top: -80px;
  width:80px;
  height:80px;
}

.ballerina__head__face::before{
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 3px 4px 7px rgba(0,0,0,0.05);
  position: absolute;
  left: 6px;
  top: 7px;
}
.ballerina__head__face__eyes:first-child{
  position: absolute;
  top: 40px;
  left: 25px;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #3D2927;
}
.ballerina__head__face__eyes:first-child::before{
  content:'';
  display:block;
  width:3px;
  height:3px;
  border-radius:50%;
  background-color:rgba(255,255,255, 0.5); 
}
.ballerina__head__face__eyes:first-child::after{
  content: '';
  position: relative;
  top: -4px;
  display: block;
  width: 7px;
  height: 0;
  background-color: #ffcccc;
  animation:ani_ballerina__eye .7s infinite alternate-reverse linear;
}

.ballerina__head__face__eyes:last-child{
  position: absolute;
  top: 40px;
  right: 25px;
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #3D2927;
}
.ballerina__head__face__eyes:last-child::before{
  content:'';
  display:block;
  width:3px;
  height:3px;
  border-radius:50%;
  background-color:rgba(255,255,255, 0.5); 
}
.ballerina__head__face__eyes:last-child::after{
  content: '';
  position: relative;
  top: -4px;
  display: block;
  width: 7px;
  height: 0;
  background-color: #ffcccc;
  animation:ani_ballerina__eye .7s infinite alternate-reverse linear;
}



.ballerina__body{
  position:relative;
}
.ballerina__body__upper{
  position:relative;
  z-index:2;
  margin:0 auto;
  width:70px;
  height:100px;
  border-radius:50%;
  background-color:#fff;
}
.ballerina__body__upper::before{
  position: absolute;
  bottom: 1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 6px 6px 0 0 #3D2927;
  transform: rotate(45deg);
}
.ballerina__body__upper::after{
  position: absolute;
  top: -2px;
  left: 0;
  content: '';
  display: block;
  width: 66px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 6px 6px 42px 0 rgba(0,0,0,0.1);
}

.ballerina__body__arm{
  position: absolute;
  top: 0;
  left: calc(50% - 45px);
  width: 90px;
  height: 100px;
}

.ballerina__body__arm__left{
  content: '';
  display: block;
  width: 170px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  left: -105px;
  top: -18px;
  border: 22px solid #ffcccc;
  border-radius: 50%;
  border-left: transparent;
  border-right: transparent;
  border-top-color: transparent;
  animation: ani__ballerina__arm__left 2s alternate-reverse linear;
} 
.ballerina__body__arm__left::before{
  content: '';
  display: block;
  width: 144px;
  height: 43px;
  position: absolute;
  top: -19px;
  box-shadow: 10px 7px 1px rgba(0,0,0,0.05);
  border-radius: 50%;
}

.ballerina__body__arm__right{
  content: '';
  display: block;
  width: 170px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  right: -105px;
  top: -18px;
  border: 22px solid #ffcccc;
  border-radius: 50%;
  border-left: transparent;
  border-right: transparent;
  border-top-color: transparent;
  animation: ani__ballerina__arm__right 2s infinite alternate-reverse linear;
} 
.ballerina__body__arm__right::before{
  content: '';
  display: block;
  width: 144px;
  height: 43px;
  position: absolute;
  top: -19px;
  right:0;
  box-shadow: 10px 7px 1px rgba(0,0,0,0.05);
  border-radius: 50%;
  transform: rotateY(180deg);
}

.ballerina__body__lower{
  position:absolute;
  top:65px;
  left: calc(50% - 65px);
  z-index:1;
  width: 130px;
  height: 85px;
  border-radius: 130px 130px 0 0;
  background-color: #fff;
}
.ballerina__body__lower::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 65px);
  z-index: 1;
  width: 111px;
  height: 83px;
  border-radius: 130px 130px 0 0;
  background-color: transparent;
  box-shadow: -4px 2px 42px rgba(0,0,0,0.1);
}
.ballerina__leg{
  width: 70px;
  height: 150px;
  margin: 0 auto;
}
.ballerina__leg__left{
  position:relative;
  content:'';
  display:block;
  float:left;
  width:30px;
  height:100%;
  background-color:#ffcccc;
  border-right:1px solid #f9bbbb;
  border-radius:0 0 35px 35px;
  animation: ani__ballerina__leg 1s 1.5s infinite alternate linear;
}
.ballerina__leg__left::before{
  content: '';
    display: block;
    border: 10px solid rgba(0,0,0,0.03);
    position: absolute;
    left: 10px;
    top: 50px;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.ballerina__leg__shoes{
  position: absolute;
  bottom: -8px;
  left: -1px;
  content: '';
  display: block;
  width: 32px;
  height: 35px;
  border-radius: 0 0 50% 50%;
  background-color: #fff;
}

.ballerina__leg__shoes::before{
  position: absolute;
  left: calc(50% - 15px);
  bottom: 10px;
  content: '';
  display: block;
  width: 30px;
  height: 35px;
  border-radius: 0 0 50% 50%;
  background-color: #ffcccc;
}

.ballerina__leg__right{
  position:relative;
  content:'';
  display:block;
  float:left;
  width:30px;
  height:100%;
  background-color:#ffcccc;
  border-radius:0 0 35px 35px;
}

.ballerina__leg__right::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0 35px 35px;
  box-shadow: 3px 1px 5px rgba(0,0,0,0.05);
}
/* 애니메이션 */
/* @keyframes ani__turn{
  0%{ transform:translateZ(-360px) rotateY(0deg); }
  100%{ transform:translateZ(-360px) rotateY(360deg); }
} */

@keyframes ani_ballerina__eye{
  0%{
    height:0;
  }
  100%{
    height:10px;
  }
}
@keyframes ani__ballerina__arm__left{
  0%{
    transform: rotate(0) translateX(0);
  }
  100%{
    transform: rotate(90deg) translateX(-70px) translateY(-46px);
  }
}

@keyframes ani__ballerina__arm__right{
  0%{
    transform: rotate(0) translateX(0);
  }
  100%{
    transform: rotate(-90deg) translateX(70px) translateY(-46px);
  }
}

@keyframes ani__ballerina__leg{
  0%{
    transform: rotate(0) translateX(0);
  }
  100%{
    transform: rotate(10deg) translateX(-6px);
  }
}

@keyframes ani__ballerina__shadow{
  0%{
    width:130px;
  }
  100%{
    width:305px;
  }
}
